body {
  background-repeat: repeat-x;
  display: block;
  margin: 8px;
  cursor: url("https://fauux.neocities.org/cursor.gif"), auto;
}


body {
  font-family: system-ui;
  color: white;
  text-align: center;
}

.container_main {
	color: black;
	width: 1004px;
	border: 22px solid;
	margin: auto;
	height: 604px;
	background-color: black;
}

.round-button {
  border-radius: 50%;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  color: white;
  /* changes the text color to white */
  font-size: 30px;
  /* changes the text size */
}

.round-button:hover {
  opacity: 1;
  /* makes the button fully opaque when the mouse is over it */
}
